body {
  display: flex;
  justify-content: center;
}

.bio-form {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
}

.interest-options {
  margin-bottom: 16px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.gen {
  margin-bottom: 16px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
}
